## *Solar flare* [dataset](https://archive.ics.uci.edu/ml/datasets/Solar+Flare)

En este conjunto de datos, tendremos dos ficheros relativos a `data`, cuya primera fila serán las especificaciones temporales, por lo que deberemos quitarla, y además en los registros de datos las variables no vienen delimitadas por `','`, si no por espacios en blanco:

In [2]:
# Importamos librerias
# importamos las bibliotecas necesarias
import os # Para obtener el directorio activo
import requests # Para descargar ficheros
import re
import pandas as pd
import numpy as np

In [3]:
# Volvemos atrás un directorio
if not os.getcwd().split('\\')[-1]=='solar_flare': os.chdir('..')
# Ahora localizamos la nueva ruta
if not os.path.isdir('imports_dataset/'): os.mkdir('imports_dataset/')
os.chdir('imports_dataset/')
# Descargamos el fichero que contiene los datos a nuestro directorio activo
response = requests.get('https://archive.ics.uci.edu/ml/machine-learning-databases/solar-flare/flare.data1')
with open("solar1.data", "wb") as f:
    f.write(response.content)
response = requests.get("https://archive.ics.uci.edu/ml/machine-learning-databases/solar-flare/flare.data2")
with open("solar2.data","wb") as f:
    f.write(response.content)
# Descargamos la metadata asociada al conjunto de datos
response = requests.get('https://archive.ics.uci.edu/ml/machine-learning-databases/solar-flare/flare.names')
with open("solar.names", "wb") as f:
    f.write(response.content)
# Leemos datos
with open(os.path.join(os.getcwd(),'solar1.data'),'r') as f:
    data1 = f.read().splitlines() # Dividimos el texto por saltos de línea
    data1 = [elem.split(' ') for elem in data1 if elem!=''] # Dividimos cada línea por espacios y removemos líneas vacías
    data1 = data1[1:] # Quitamos la línea de metadata temporal
## Leemos segundo fichero de datos
with open(os.path.join(os.getcwd(),'solar2.data'),'r') as f:
    data2 = f.read().splitlines() # Dividimos el texto por saltos de línea
    data2 = [elem.split(' ') for elem in data2 if elem!=''] # Dividimos cada línea por espacios y removemos líneas vacías
    data2 = data2[1:] # Quitamos la línea de metadata temporal
## Combinamos ambas listas
data = data1+data2
# Leemos metadata
with open(os.path.join(os.getcwd(),'solar.names'),'r') as f:
    metadata = f.read().splitlines()
# Regex
regex_fn = lambda text: re.findall('^\s+[0-9]+\.{1}\s{1}[a-zA-Z- ]+', text)
reg_text_fn = lambda text : re.findall('[a-zA-Z-]+', text)
metadata_list = [regex_fn(elem)[0].strip() for elem in metadata if regex_fn(elem)]
col_names = [reg_text_fn(elem)[0] for elem in metadata_list if reg_text_fn(elem)]
# Construimos el objeto pd.DataFrame
df = pd.DataFrame(data=data, columns=col_names)
df

,Code,Code,Code,Activity,Evolution,Previous,Historically-complex,Did,Area,Area,C-class,M-class,X-class
0,C,S,O,1,2,1,1,2,1,2,0,0,0
1,D,S,O,1,3,1,1,2,1,2,0,0,0
2,C,S,O,1,3,1,1,2,1,1,0,0,0
3,D,S,O,1,3,1,1,2,1,2,0,0,0
4,D,A,O,1,3,1,1,2,1,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1384,H,S,X,1,2,1,1,1,1,1,0,0,0
1385,H,S,X,2,2,1,1,2,1,1,0,0,0
1386,C,S,O,1,2,1,2,2,1,1,0,0,0
1387,H,R,X,1,2,1,1,2,1,1,0,0,0
1388,B,X,O,1,1,1,1,2,1,1,0,0,0